tr[data-url]:hover { 
	cursor: pointer; 
	background-color: #ffe; 
}
.clicked { 
	background-color: #ffe; 
}
.table-list {
	font-size: 0.8rem;
}
.table-list td {
	padding: 0.7rem;
	vertical-align: middle;
}